<!DOCTYPE html>
<html>
<head>
	<title>Авторизация</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/authorization.css" />
</head>
<body>
	<div class="login-page">
	  <div class="form">
	    <form class="register-form">
	      <input type="text" placeholder="login"/>
	      <input type="text" placeholder="username"/>
	      <button>create</button>
	      <p class="message">Уже зарегистрированы? <a href="#">Войдите</a></p>
	    </form>
	    <form class="login-form">
	      <input type="text" placeholder="login"/>
	      <button>login</button>
	      <p class="message">Не зарегистрированы? <a href="#">Создайте аккаунт</a></p>
	    </form>
	  </div>
</div>

	<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="js/authorization.js"></script>

</body>
</html>