<!DOCTYPE HTML>
<html>
	<head>
		<title>Course Shop</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!--
					<header id="header">
						<h1><a href="index.html">Главная</a></h1>
						<nav class="links">
							<ul>
								<li><a href="#">Приобретенные курсы</a></li>
								<li><a href="#">Пополнить баланс</a></li>
							</ul>
						</nav>
					</header>
				-->
				<!-- Main -->
					<div id="main">					
						
						<!-- Post -->
<!--
						 <article class="post">
								<header>
									<div class="title">
										<h3><a href="single.html">Увлекательная математика</a></h3>
										<p>Курс посвящен для детей с 10 до 14 лет и состоит из 20 занятий по 45 минут каждая. Изучив данные материалы ребенок получит дополнительные знания по алгебре и геометрии ..</p>
									</div>
									<div class="meta">
										<span class="name">Михайлов А.И.</span>
									</div>
								</header>
								<footer>
									<ul class="stats">
										<li>25</li>
										<li><a href="#">Приобрести</a></li>
									</ul>
								</footer>
							</article>  
-->
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"></a>
								<header>
									<h2>Мусин Ринат</h2>
									<p>Баланс: 150</p>
								</header>
							</section>


						<!-- Posts List -->
							<section>
								<ul >
									<li>
										<h3><a href="single.html">Главная</a></h3>			
									</li>
									<li>
										<h3><a href="single.html">Приобретенные курсы</a></h3>			
									</li>
									<li>
										<h3><a href="single.html">Пополнить баланс</a></h3>			
									</li>
								</ul>
							</section>

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
		<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="js/app.js"></script>

	</body>
</html>